p {
	text-indent: 30px; font-size: 2vh;
	margin: 0 0 2.5% 0; line-height: 150%; }
h2 {
	font-size: 2.5vh; text-align: center;
	margin: 0 auto -1% auto; }
legend {
	font-size: 15px;
}

#snap {
	position: absolute; top: 50%; left: 50%;
	width: 99%; height: 99%; text-align: center; z-index: -1;
	-ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#background {
	position: fixed; display: block;
	height: 100%; width: 100%; z-index: 1; }
.move {
	position: fixed; display: block; width: 100%;
	height: 0px; margin: auto; z-index: 2; }

#showContent {
	font-size: 12px; position: absolute; top: 50%; left: 50%;
	-ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#slideToggle {
	display: block; font-size: 1.5vh;
	margin: auto auto 3.5% auto; }

#control {
	display: none; position: fixed; top: 0.5%; left: 0.5%; z-index: 3; border-radius: 5px;
	background-color: rgba(55, 55, 55, .5); padding: 1%; }
#control img {
	width: 50px; height: auto;
	-webkit-filter: brightness(100%); }
#control img:hover {
	-webkit-filter: brightness(75%); -webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease; -o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease; transition: all 0.15s ease; }

#control div { display: inline; }

.ui-dialog-titlebar {
	font-size: 3vh;
	margin: 1%; }
.ui-dialog-content.ui-widget-content {
	margin: auto; padding: 3.5% 6.5%;
	text-align: justify; overflow: auto; }

#modal {
	display: none; position: fixed;
	z-index: 4; width: 100%; height: 100%;
	background-color: rgba(55,55,55,0.75); }
#paused {
	position: absolute; top: 50%; left: 50%;
	-ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
	text-align: center; width: 25%; height: auto; max-width: 300px;
	background-color: #cccccc; border: 5px solid grey; border-radius: 7.5px; }
#resume, #stop {
	display: inline; margin: 5%;
	width: 40%; max-width: 70px;
	-webkit-filter: brightness(100%);
	border: 2px solid white; border-radius: 100%; }
#resume:hover, #stop:hover {
	-webkit-filter: brightness(75%); -webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease; -o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease; transition: all 0.15s ease; }	